.empty{
  color: #fe5d42;
  animation: 5s Go infinite;
}

@keyframes Go{
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(15rem);
  }
  100%{
    transform: translateX(0);
  }
}